@import url(http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica);
/*
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
*/

html{
	background-color:bisque;
	background-image: url("/back.png");
	background-size: 100% 100%;
	font-family: Georgia, serif;
}

body{
	margin: 2% 10% 5% 10%;
	padding: 0;
	border-right 1px solid #0c192c;
	border-left 1px solid grey;
	border-radius:1em;
	-moz-border-radius:1em;
	-webkit-border-radius:1em;
	box-shadow: 15px 15px 35px #0c192c;
	-moz-box-shadow: 15px 15px 35px #0c192c;
	-webkit-box-shadow: 15px 15px 35px #0c192c;
}

a{
	color: #061717;
	font-style:italic;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration:underline;
}

#con1{
	background-color:#0c192c;	/*#1d2b35;*/
	margin-bottom:0;
	color:white;
	padding: 2%;
	border-bottom: 4px solid DarkGrey;
	-moz-border-radius-topleft:1em;
	-webkit-border-top-left-radius:1em;
	-moz-border-radius-topright:1em;
	-webkit-border-top-right-radius:1em;
}

#header{
	margin:0;
	color:white;
	padding: 20px;
/*	border: 0 solid silver;
	border-radius:0.8em;
	--moz-border-radius:0.8em;
	--webkit-border-radius:0.8em;
*/
}

#con2{

	background-color:AliceBlue;
	padding: 1em 0 2% 0;
	border: 0 2px 0 2px solid silver;
	-moz-border-radius-bottomleft:1em;
	-webkit-border-bottom-left-radius:1em;
	-moz-border-radius-bottomright:1em;
	-webkit-border-bottom-right-radius:1em;
}
#mainbody{
	color:#061717;				/*DarkSlateGrey;*/
	padding: 2% 4%;
	line-height: 1.5em;
	font-size:170%;
/*	font-family: "Droid Serif", serif;*/
}

#links{
	margin: 0;
	padding:0;
	background-color:#ced4e0;	/*#a0cecf;Gainsboro;*/
	overflow:auto;
	vertical-align:center;
}

#links ul {
	display:block;
	margin:0;
	padding:0;
}


#links ul li{
	display:inline;
}

#links ul li a{
	font-style:normal;
	font-size: 170%;
	color: #0c192c;
	font-weight: bold;
	display:block;
	width: 12%;
	
	float:left;
	margin-top:0;
	padding: 1% 1%;
	display:inline;
	text-align:center;
	border-right: 1px solid Grey;
	text-decoration:none;
}

#links ul li a.current{
	background-color:AliceBlue;
}

#links ul li:last-child a{
	border-right:0;
	width: 14%;
}

#links ul li a:hover {
	background-color:AliceBlue;
}

#links ul li a:active {
}

#links form {
	padding:0;
	display:inline;
	float:right;
	text-align:right;
}

#links input {
	position:relative;
	position-top:13px;
}

#links input {
	width 10%;
}
#header h3{
	text-align:center;
	font-family: "IM Fell DW Pica", helvetica, arial, serif;
	font-size: 4em;
}


#footer{
	text-align: center;
	font-size:120%;
	border-top: 1px solid grey;
	padding: 2% 4% 3% 4%;
}

#footer img{
	padding: 0 10%;
	display: inline;
	float:left;
	height: 5%;
	width: auto;
}

#logos {
	width: 90%;
	padding:0;
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
}
